/* Navbar */
.navbar {
  font-size: 18px;
}
.nav-item {
  font-family: sans-serif;
}
.navbar-brand {
  font-weight: bold;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.sosmed {
  display: flex;
}
.sosmed a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.sosmed a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: #f9004d;
  bottom: 35px;
  font-size: 14px;
}
